/* font-family: bely-display, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: roc-grotesk, sans-serif;
font-weight: 300;
font-style: normal; */

html {
  scroll-behavior: smooth;
}

.title-container {
  background-color: #CDC1D5;
  text-align: center;
  padding: 20px;
  
}

img {
  text-align: center;
}

p {
  text-align: center;
  margin: 53px;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;

}

a {
  text-decoration: none;
}

.button {
  color: white;
  background-color: black;
  text-align: center;
  padding: 7px;
  margin: 10px 90px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a:visited {
  color: white;
}

.button-seed {
  box-shadow: 5px 5px 0 #ffd383;
}

.button-seller {
  box-shadow: 5px 5px 0 #CDC1D5;
}

.button-contact {
  box-shadow: 5px 5px 0 #f199c3;
}

.button-shop {
  margin: 10px 120px 60px 120px;
  box-shadow: 5px 5px 0 #f199c3;
}

h1 {
  text-align: center;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

a href {
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}









.footer-container {
  background-color: #CDC1D5;
  text-align: center;
  padding: 20px;
}